@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 217, 100%, 97%;
  --background-end-rgb: 255, 255, 255;
  --primary:213, 96%, 18%;
  --secondary:231, 11%, 63%;
  --active:206, 94%, 87%;
}
body {
  color: rgb(var(--foreground-rgb));
  background: hsl(var(--background-start-rgb));
};